.start{
    display: grid;
    grid-template-areas: 
    "header header "
    "nav content "
    ;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    row-gap: 50px;
    column-gap: 10px;
}