:root {
	--container-width: 1440px;
	--container-padding: 40px;

	--font-main: 'Roboto Slab', sans-serif;
	--font-accent: 'Playwrite Nigeria Modern', serif;

	--text-color: #303030;
    --dark: #1c1c1c;
    --lavanda: #b073da;
	--light-lavanda: #e3d5ff;
    --dark-purple: #3a1547;
	--peach: #f9b3a3;
	--light-peach: #fad4d4;
    --cream: #fff9e4;


--box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);
--box-shadow-btn: 2px 4px 4px 0 rgba(65, 50, 43, 0.682);



	--default-font-size: 14px;
	--mini-font-size: 8px;

    --laptop-size: 1440px;
	--tablet-size: 959px;
	--mobile-size: 375px;
}



